<div class="container">
  <% provide :title, t(".title") %>
  <h2><%= t ".header" %></h2>
  <!--search cau hoi -->
  <% if can? :manage, @questions %>
    <%= link_to t(".add_question"), new_question_path, class: "btn btn-lg btn-light rounded" %>
  <% end %>
  <ul class="list-group">
    <% if @questions.any? %>
      <%= render @questions %>
      <span>
        <%= paginate @questions, class: "pagination" %>
      </span>
    <% end %>
  </ul>
</div>
