<% provide :title, t(".title") %>
<section class="content-header">
  <h1><%= t ".header" %></h1>
</section>

<section class="content container" id="login">
  <div class="card-body">
    <%= render "form" %>
    <%= render "devise/shared/links" %>
  </div>
</section>
