<tr>
  <td>
    <%= subject.id %>
  </td>
  <td>
    <%= subject.name %>
  </td>
  <td>
    <%= link_to subject.user_name, subject.user %>
  </td>
  <td>
    <% if can? :manage, subject %>
      <%= button_to t(".delete"), {action: "destroy", id: subject.id}, method: :delete, data: {confirm: t(".sure")} %>
    <% end %>
  </td>
</tr>
