@import 'color';
// universal
section {
  overflow: auto;
  color: $pink1;
}

#login {
  width: 600px;
  min-height: 450px;
}

.center {
  text-align: center;
}

/* typography */

h3, .h3{
  font-size: 24px;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
h1{
  font-size: 40px;
  font-weight: bold;
}
.subject_id, .exam_id {
  width: 10%;
}

.des{
  width: 40%;
}

.user_create{
  width: 30%;
}

.image_style{
 height: 100%;
 width: auto;
}

.subject_name {
  width: 30%;
}
.num{
  width: 10%;
}

.del{
  width: 20%;
}

center h1 {
  margin-bottom: 10px;
}

p {
  font-size: 2em;
  line-height: 1.7em;
}
// header

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $pink1;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold
}

#logo:hover {
  color: $pink2;
  text-decoration: none
}

.image {
  width: 200px
}


aside {
  section.user_info {
    margin-top: 20px;
  }

  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid $gray;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}

#error_explanation {
  color: $red-medium;
  ul {
    color: $red-medium;
    margin: 0 0 30px 0;
  }
}

.radio, .checkbox {
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.checkbox {
  margin-top: 10px;
  span {
    font-weight: normal;
    margin-left: 20px;
  }
}

label.required:after {
  content: " *";
  color: $red-medium;
}

.add:before {
  content: "+ ";
  font-weight: bold;
}

#session_remember_me {
  margin-left: 0;
  width: auto;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.image {
  margin-top: 10px;
  input {
    border: 0;
  }
}
table, th, td{
  border:1px solid $gray-light;
}

table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.container {
  front-weight: 300;
  text-transform: uppercase;
}

body{
  color: gray!important;
}
.social li{
  display: inline;
  padding-left: 5%!important;
}

a {
  color: gray!important;
  font-size: 16px;
}

.header {
  width: 90%!important;
margin-left: 5%!important;
}

.header h1 {
  font-size: 25px;
  padding-top: 5%;
}

.social {
  padding-top: 5%;
}

.social a:hover{
  color:#FDAEAE!important;
}

.social i{
  font-size: 25px!important;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-caption{
  background-color: rgba(255, 208, 208, 0.8)!important;
  z-index: 11px;
  color: gray!important;
}

.carousel-control-prev{
  top: 70%!important;
  margin-left: 20%;
}

.carousel-control-next{
  top: 70%!important;
  margin-right: 20%;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 40%!important;
    left: 0%!important;
    top: 25%!important;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
  }

  .line {
    padding: 4%;
    border-left: 2px solid gray;
    margin-left: 30%;
    text-align: left;
  }

.main a {
  background-color: #D36F6F!important;
  width: 30%;
  height: 25%;
}

.fas {
  color: white!important;
}

img {
  width: 100%;
}

.second.row {
  margin-left: 0px!important;
  margin-right: 0px!important;
}

.text p{
  font-size: 18px;
}

 button {
      margin-left: 40%;
      background-color: #D36F6F;
      color: white;
      padding: 2% 9% 2% 9%;
}

.text {
  border-left: 3px solid #D36F6F;
  padding-left: 5%;
  margin-left: 5%;
}

.photo{
  display: inline-block;
position: relative;
}

.third button{
  margin-left: 30%;
}

.third .line, .fourth .line {
  border-left: 3px solid #D36F6F;
  margin-left: 0!important;
}

.content {
  position: fixed;
  top: 120px;
  left: 0;
  bottom: 50px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  overflow: auto;
}

.text_footer{
  padding: 5%;
  color: $text_footer ;
}

.footer .row  {
  margin-right: 0!important;
  margin-left: 0!important;
}

.footer {
  background-color: #D36F6F;
}


@media (max-width: 599px) and (min-width: 0px) {

  .main .line{
    margin-left: 0!important;
    padding: 0!important;
  }

  .main h3{
    font-size: 14px!important;
    line-height: 0.5!important;
  }
}
