<div class="nested-fields">
    <div class="pf-field col-lg-10 col-sm-10">
      <%= f.select :question_id, load_content_question(@questions) %>
    </div>
    <div class="pf-field col-lg-10 col-sm-10">
      <%= f.label :score, t(".score"), class: "required" %>
      <%= f.number_field :score %>
    </div>
    <button type="button" class="btn active">
      <%= link_to_remove_association t(".remove_question"), f %>
    </button>
</div>
